.navContainer {
  background: linear-gradient(to bottom, #000000, #141414);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.linkHeader {
  color: white;
  font-size: 1.2rem;
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  transition: 0.3s;
}

.linkHeader:hover {
  transition: 80ms;
}

.logoImg {
  height: 40px;
}
